name: Run tests
on: [push, pull_request]

jobs:
  test-client:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # 4 jobs total with all permutations
        python: [2.7, 3.10.1]
        extras: ["test", "test,queable,sentry"]
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: ${{ matrix.python }}
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Test
        working-directory: ./client
        env:
          AWS_ACCESS_KEY_ID: foo
          AWS_SECRET_ACCESS_KEY: bar
        run: |
          pip install -e .[${{ matrix.extras }}]
          py.test
  test-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Test
        run: |
          make test
